body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	flex-grow: 1;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left .body-right {
	padding: 50px;
}
input {
	border: none;
	border-bottom: x;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px rgb(168, 166, 166) solid;
	text-align: center;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(96, 91, 91);
	padding: x;
}
